<form action="<%= formAction %>" method="<%= formMethod %>">
<div class="col-xs-12 col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">Categories</div>
    <div class="panel-body">
      <div class="form-group">
        <% categories.forEach(function(category){ %>
          <label><input type="checkbox" name="category" value="<%= category.id %>"
          <% if(typeof recipe !== 'undefined' && recipe.categories.some(function(el){return el === category.category})){ %>
            checked="checked"
          <% } %>
            >
            <%= category.category %>
          </label>
          <% }) %>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Ingredients</div>
    <div class="panel-body">
      <div class="form-group">
        <label for="ingredient">Ingredients</label>
        <div class="ingredient">
          <input type="text" name="ingredient" class="form-control"
            <% if(typeof recipe !== 'undefined'){ %>
              value="<%= recipe.ingredients[0] %>"
            <% } %>
          >
          <button class="btn btn-success add-ingredient"><i class="fa fa-plus"></i></button>
        </div>
        <% if(typeof recipe !== 'undefined'){
          for(var i = 1; i < recipe.ingredients.length; i++){ %>
              <div class="ingredient">
                  <input type="text" name="ingredient" class="form-control" value="<%= recipe.ingredients[i] %>">
                  <button class="btn btn-success add-ingredient"><i class="fa fa-plus"></i></button>
                  <button class="btn btn-danger remove-ingredient"><i class="fa fa-minus"></i></button>
              </div>
        <% }
         } %>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-12 col-md-9">
  <div class="panel panel-default">
    <div class="panel-heading lead form-group">Title:
      <input type="text" class="form-control" name="title"></div>
    <div class="panel-body form-group">
      <p><label for="directions">Directions:</label></p>
      <textarea name="directions" rows="20"></textarea>
    </div>
    <div class="form-group button-group">
      <a href="/" role="button" class="btn btn-danger">Cancel</a>
      <button type="submit" role="submit" class="btn btn-success">Submit</button>
    </div>
  </div>
</div>
</form>
